<?xml version="1.0"?>
<configuration>
  <startup>
  </startup>
  <resourceGroups>
<!--Vars -->
    <add key="resourceGroupDC" value="STN-prod-DC-rg"/>
    <add key="resourceGroupAPP" value="STN-prod-APP-rg"/>
    <add key="resourceGroupDB" value="STN-prod-DB-rg"/>
  </resourceGroups>
  <Parameters>
    <add key="subscription" value="mySub"/>	
    <add key="customer" value="TEST"/>
    <add key="environment" value="prd"/>
    <add key="virtualNetworkName" value="STN-Prod-Vnet"/>
    <add key="virtualNetworkResourceGroup" value="STN-hub-prod-rg"/>
    <add key="dcSubNetName" value="default"/>	
    <add key="appSubNetName" value="default"/>	
    <add key="dbSubNetName" value="default"/>	
    <add key="apploadBalancerPrivateIPAddress" value="172.30.0.6"/>	
    <add key="dbloadBalancerPrivateIPAddress" value="172.30.0.7"/>	
    <add key="adminUserName" value="CareworksAdmin"/>
    <add key="adminPassword" value="C@r3w0rk512345"/>
    <add key="dcAddressPrefix" value="10.200.0.0/24"/>
    <add key="sqlAddressPrefix" value="10.200.1.0/24"/>
    <add key="webAddressPrefix" value="10.200.2.0/24"/>
    <add key="mgtAddressPrefix" value="10.200.3.0/24"/>
    <add key="gwAddressPrefix" value="10.200.4.0/24"/>

  </Parameters>
</configuration>